@import './src/variables';
@import './src/mixins';
@import './src/animations';

@import './src/app/scss/toggle';
@import './src/app/scss/slot-arm';


.game-view--container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    .pay-table {
        width: 620px;
        height: 295px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        margin: auto;
        background: $red;
        border-radius: 50% 50% 0% 0% / 55% 55% 0% 0%;
        .balance-container {
          position: relative;
          .flying-money {
            width: fit-content;
            height: 20px;
            font-weight: 900;
            font-size: 2rem;
            text-align: center;
            color: $yellow;
            position: absolute;
            right: -5px;
            opacity: 0;
            &.fly {
              animation: fly-and-die 10s;
            }
          }
          input.balance {
            height: 50px;
            width: 200px;
            border-radius: 15px;
            border: none;
            margin-bottom: 1rem;
            font-weight: 900;
            font-size: 3rem;
            text-align: center;
            color: $yellow;
            &:focus {
              outline: none; 
              box-shadow: 0px 0px 20px $yellow;
            }          
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
          }
        }
        .winning-explanations {
            width: 97%;
            background-color: $gray;
            height: 50%;
            margin: 0 .5rem .5rem;
            border-radius: 10px;
            box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            flex-wrap: wrap;
            .combination, .prize {
                height: fit-content;
                z-index: 9;
            }
            .explanation-lines {
                display: inline-flex;
                align-items: center;
                height: fit-content;
                width: fit-content;
                position: relative;
                .combination {
                    display: inline-flex;
                    .combination-symbol {
                        width: 50px;
                        height: 45px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    .cherry {
                        background-image: url('/assets/images/Reel/Cherry.png');
                    }
                    .seven {
                        background-image: url('/assets/images/Reel/7.png');
                    }
                    .threebar {
                        background-image: url('/assets/images/Reel/3xBAR.png');
                    }
                    .twobar {
                        background-image: url('/assets/images/Reel/2xBAR.png');
                    }
                    .bar {
                        background-image: url('/assets/images/Reel/BAR.png');
                    }
                    .any-combination {
                        font-weight: 900;
                        text-transform: uppercase;
                        font-family: sans-serif;
                        letter-spacing: -2px;
                        line-height: 14px;
                        transform: rotateZ(-35deg);
                        color: $light-red;
                        text-shadow: -1px 2px 1px $lime-green;
                    }
                
                }
                .prize {
                    font-size: 1rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    font-family: sans-serif;
                    letter-spacing: -2px;
                    line-height: 14px;
                    transform: rotateZ(-35deg);
                    color: $yellow;
                    text-shadow: -1px 2px 1px $light-red;
                }
            }
        }
    }
    .slot-machine {
        display: flex;
        justify-content: center;
        margin: auto;
        position: relative;
        height: 400px;
        width: 620px;
        align-items: center;
        background-color: hsl(0,0%,90%);
        background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
        linear-gradient(180deg, hsl(0,0%,78%)  0%, 
        hsl(0,0%,90%) 47%, 
        hsl(0,0%,78%) 53%,
        hsl(0,0%,70%)100%);
        .depth-giver {
            display: flex;
            justify-content: center;
            -webkit-perspective: 1000px;
            perspective: 1000px;
            .reel-container {
                background-color: $black;
                padding: .5rem;
                margin-right: .8rem;
                overflow: hidden;
                height: 335px;
                transform-style: preserve-3d;
                transition: transform 1s;
                .reel {
                   @include reel;
                    img {
                        position: absolute;
                        &:nth-child(1) { 
                            transform: rotateY(  0deg) translateY(0); 
                        }
                        &:nth-child(2) { 
                            transform: rotateY( 0deg) translateY(120px); 
                        }
                        &:nth-child(3) { 
                            transform: rotateY( 0deg) translateY(240px); 
                        }
                        &:nth-child(4) { 
                            transform: rotateY(0deg) translateY(360px); 
                        }
                        &:nth-child(5) {
                             transform: rotateY(0deg) translateY(-120px); 
                            }
                    }
                }
            }
        }
        .winning-line {
          position: absolute;
          width: 560px;
          height: 125px;
          border: 3px solid $light-red;
          border-radius: 10px;
          display: none;
          &.first-line {
            top: 16px;
          }
          &.second-line {
            top: 146px;
          }
          &.third-line {
            bottom: -2px;
          }
          &.winner {
            display: block;
          }
        }
        #shoulder {
            position: absolute;
            right: -56px;
        }
    }
    .blink:before {
        position: absolute;
        left: -18px;
        top: -18%;
        width: 116%;
        height: 120%;
        background: $yellow;
        filter: blur(20px);
        content: "";
        opacity: 0;
        z-index: 9;
        animation: flash .5s ease-out alternate infinite;
    }
    .balance-area {
        position: relative;
        .debug-area {
          display: flex;
          position: relative;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 600px;
          margin-top: 30%;
          padding: 1rem 0;
          border-radius: 15px;
          background: $white;
          .random-mode {
            filter: blur(4px);
          }
          .mode {
              display: flex;
              width: 100%;
              padding: 0 0 1rem 7rem;
          }
          section.debug-area-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .debug-line-opt-container {
              margin-right: 1rem;
              .debug-line {
                padding: 0.6rem calc(1rem - 2px);
                text-align: center;
                font-weight: 900;
                text-transform: uppercase;
                font-family: sans-serif;
                letter-spacing: -1px;
                cursor: pointer;
                &.active {
                  border: 2px solid $light-red;
                  border-radius: 15px;
                }
              }
            }
            .debug-reel-container {
              flex-direction: row;
              display: flex;
              background: $black;
              width: 365px;
              height: fit-content;
              padding: .5rem 0;
              justify-content: center;
              .debug-reel {
                @include reel;
                min-height: 120px;
                border-radius: 10% 10% 10% 10%/50% 5% 1% 44%;
                width: 100px;
                justify-content: center;
                align-items: center;
                img {
                  pointer-events: none;
                }
              }
            }
          }
          img {
            width: 100px;
          }
        }
       
    }  
}