.game-view--container {
    .slot-machine {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 500px;
        width: 620px;
        align-items: center;
        background-color: hsl(0,0%,90%);
        background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
        linear-gradient(180deg, hsl(0,0%,78%)  0%, 
        hsl(0,0%,90%) 47%, 
        hsl(0,0%,78%) 53%,
        hsl(0,0%,70%)100%);
        .depth-giver {
            display: flex;
            justify-content: center;
            -webkit-perspective: 1000px;
            perspective: 1000px;
            .reel-container {
                background-color: #020202;
                padding: .5rem;
                margin-right: .8rem;
                overflow: hidden;
                height: 335px;
                transform-style: preserve-3d;
                transition: transform 1s;
                .reel {
                    display: flex;
                    flex-direction: column;
                    width: 140px;
                    position: relative;
                   /* overflow: hidden;*/
                    max-height: -webkit-fill-available;
                    background: #eee;
                    border-radius: 10% 10% 10% 10% / 50% 10% 10% 50%;
                    box-shadow: inset -5px -4px 12px 5px rgba(0, 0, 0, 0.5);
                    img {
                        position: absolute;
                    }
                }
            }
        }
    }
}

@keyframes reelling {

}

@keyframes slidr1 {
    0% { transform: translateY(0); }
    20% { visibility: hidden; transform: translateY(-120px); }
    40% { visibility: hidden; transform: translateY(360px); }
    60% { visibility: visible; transform: translateY(240px); }
    80% { transform: translateY(120px); }
    100% { transform: translateY(0); }
  }

  @keyframes slidr2 {
    0% { transform: translateY(120px); }
    20% { transform: translateY(0); }
    40% { visibility: hidden; transform: translateY(-120px); }
    60% { visibility: hidden; transform: translateY(360px); }
    80% { visibility: visible; transform: translateY(240px); }
    100% { transform: translateY(120px); }
  }

  @keyframes slidr3 {
    0% { transform: translateY(240px); }
    20% { transform: translateY(120px); }
    40% { transform: translateY(0); }
    60% { visibility: hidden; transform: translateY(-120px); }
    80% { visibility: hidden; transform: translateY(360px); }
    100% { visibility: visible; transform: translateY(240px); }
  }

  @keyframes slidr4 {
    0% { visibility: hidden; transform: translateY(360px); }
    20% { visibility: visible; transform: translateY(240px); }
    40% { transform: translateY(120px); }
    60% { transform: translateY(0); }
    80% { visibility: hidden; transform: translateY(-120px); }
    100% { visibility: hidden; transform: translateY(360px); }
  }

  @keyframes slidr5 {
    0% { visibility: hidden; transform: translateY(480px); }
    20% { visibility: hidden; transform: translateY(360px); }
    40% { visibility: visible; transform: translateY(240px); }
    60% { transform: translateY(120px); }
    80% { transform: translateY(0); }
    100% { visibility: hidden; transform: translateY(-120px); }
  }

  

  
  /*.reel>img:not(:first-child) {display: none;}*/
.reel>img:nth-child(1) { 
    transform: rotateY(  0deg) translateY(0); 
    animation: slidr1 10s infinite;
}
.reel>img:nth-child(2) { 
    transform: rotateY( 0deg) translateY(120px); 
    animation: slidr2 10s infinite;
}
.reel>img:nth-child(3) { 
    transform: rotateY( 0deg) translateY(240px); 
    animation: slidr3 10s infinite;
}
.reel>img:nth-child(4) { 
    transform: rotateY(0deg) translateY(360px); 
    animation: slidr4 10s infinite;
}
.reel>img:nth-child(5) {
     transform: rotateY(0deg) translateY(480px); 
     animation: slidr5 10s infinite;
    }