@import './src/variables';

.game-view--container {
    .slot-machine {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 500px;
        width: 620px;
        align-items: center;
        background-color: hsl(0,0%,90%);
        background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
        linear-gradient(180deg, hsl(0,0%,78%)  0%, 
        hsl(0,0%,90%) 47%, 
        hsl(0,0%,78%) 53%,
        hsl(0,0%,70%)100%);
        .depth-giver {
            display: flex;
            justify-content: center;
            -webkit-perspective: 1000px;
            perspective: 1000px;
            .reel-container {
                background-color: #020202;
                padding: .5rem;
                margin-right: .8rem;
                overflow: hidden;
                height: 335px;
                transform-style: preserve-3d;
                transition: transform 1s;
                .reel {
                    display: flex;
                    flex-direction: column;
                    width: 140px;
                    position: relative;
                    overflow: hidden;
                    height: -webkit-fill-available;
                    background: #eee;
                    border-radius: 10% 10% 10% 10% / 50% 10% 10% 50%;
                    box-shadow: inset -5px -4px 12px 5px rgba(0, 0, 0, 0.5);
                    img {
                        position: absolute;
                        &:nth-child(1) { 
                            transform: rotateY(  0deg) translateY(0); 
                        }
                        &:nth-child(2) { 
                            transform: rotateY( 0deg) translateY(120px); 
                        }
                        &:nth-child(3) { 
                            transform: rotateY( 0deg) translateY(240px); 
                        }
                        &:nth-child(4) { 
                            transform: rotateY(0deg) translateY(360px); 
                        }
                        &:nth-child(5) {
                             transform: rotateY(0deg) translateY(480px); 
                            }
                    }
                }
            }
        }
        &.spinReel {
            .depth-giver {
                .reel-container {
                    .reel {
                        img {
                            &:nth-child(1) { 
                                animation: slidr1 $animation-speed infinite;
                            }
                            &:nth-child(2) { 
                                animation: slidr2 $animation-speed infinite;
                            }
                            &:nth-child(3) { 
                                animation: slidr3 $animation-speed infinite;
                            }
                            &:nth-child(4) { 
                                animation: slidr4 $animation-speed infinite;
                            }
                            &:nth-child(5) {
                                 animation: slidr5 $animation-speed infinite;
                                }
                        }
                    }
                }
            }
        }
    }
}

@keyframes slidr1 {
    0% { transform: translateY(0); }
    20% { visibility: hidden; transform: translateY(-120px); }
    40% { visibility: hidden; transform: translateY(360px); }
    60% { visibility: visible; transform: translateY(240px); }
    80% { transform: translateY(120px); }
    100% { transform: translateY(0); }
  }

  @keyframes slidr2 {
    0% { transform: translateY(120px); }
    20% { transform: translateY(0); }
    40% { visibility: hidden; transform: translateY(-120px); }
    60% { visibility: hidden; transform: translateY(360px); }
    80% { visibility: visible; transform: translateY(240px); }
    100% { transform: translateY(120px); }
  }

  @keyframes slidr3 {
    0% { transform: translateY(240px); }
    20% { transform: translateY(120px); }
    40% { transform: translateY(0); }
    60% { visibility: hidden; transform: translateY(-120px); }
    80% { visibility: hidden; transform: translateY(360px); }
    100% { visibility: visible; transform: translateY(240px); }
  }

  @keyframes slidr4 {
    0% { visibility: hidden; transform: translateY(360px); }
    20% { visibility: visible; transform: translateY(240px); }
    40% { transform: translateY(120px); }
    60% { transform: translateY(0); }
    80% { visibility: hidden; transform: translateY(-120px); }
    100% { visibility: hidden; transform: translateY(360px); }
  }

  @keyframes slidr5 {
    0% { visibility: hidden; transform: translateY(480px); }
    20% { visibility: hidden; transform: translateY(360px); }
    40% { visibility: visible; transform: translateY(240px); }
    60% { transform: translateY(120px); }
    80% { transform: translateY(0); }
    100% { visibility: hidden; transform: translateY(-120px); }
  }

  


/*
    Pulling hand
*/    
$red: #760209;
@mixin boxSizing ($value: border-box) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}
@mixin origin($values...) {
	-webkit-transform-origin: $values;
	-moz-transform-origin: $values;
	transform-origin: $values;
}
@mixin transform($values...) {
	-webkit-transform: $values;
	-moz-transform: $values;
	transform: $values;	
}
@mixin radialGradient($values...) {
    background-image: -webkit-radial-gradient($values);
    background-image: -moz-radial-gradient($values);  
    background-image: -ms-radial-gradient($values);  
    background-image: -o-radial-gradient($values); 	
  }

@mixin twoLinearGradients($first, $second) {
    background-image: -webkit-linear-gradient($first), -webkit-linear-gradient($second);
    background-image: -moz-linear-gradient($first), -moz-linear-gradient($second);
    background-image: -ms-linear-gradient($first), -ms-linear-gradient($second);
    background-image: -o-linear-gradient($first), -o-linear-gradient($second);
  }

  @mixin rotate($values...) {
	-webkit-transform: rotate($values);
	-moz-transform: rotate($values);
	transform: rotate($values);	
}
@mixin transition($property: all, $duration: .3s, $timing: ease-in-out, $delay: 0s) {
	-webkit-transition: $property $duration $timing $delay;
	-moz-transition: $property $duration $timing $delay;
	-o-transition: $property $duration $timing $delay;
	-ms-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;  
}

@mixin linearGradient($values...) {
    background-image: -webkit-linear-gradient($values);
    background-image: -moz-linear-gradient($values);
    background-image: -ms-linear-gradient($values);
    background-image: -o-linear-gradient($values);
  }

@mixin linearGradientUrl($gradient, $url) {
    background-image: -webkit-linear-gradient($gradient), $url;
    background-image: -moz-linear-gradient($gradient), $url;
    background-image: -ms-linear-gradient($gradient), $url;
    background-image: -o-linear-gradient($gradient), $url;
  }
#arm {
	//*** BASE ***//
	position: relative;
	top: 10px;
    left: 83px;
    cursor: pointer;
	width: 60px;
	height: 80px;
	border-radius: 10% / 50%;
	background-color: #666;
	@include twoLinearGradients((left, hsla(0,0%,0%,.3) 0%, hsla(0,0%,0%,0) 15%, hsla(0,0%,100%,0) 50%, hsla(0,0%,0%,0) 85%, hsla(0,0%,0%,.3)),(top, #333 0%, #666 10%, #999 30%, hsla(0,0%,100%,.8) 60%, #999 70%, #666 90%, #333 100%));
	&:before {
		//*** POLE ***//
		content: '';
		position: absolute;
		top: -40px;
		left: 16px;
		width: 16px;
		height: 70px;
		border-radius: 8px;
		box-shadow: 0px 2px 0px #333;
		background-color: #999;
		@include rotate(-10deg);
		@include linearGradient(left, #666 0%, hsla(0,0%,100%,.7) 50%, #666 100%);
		background-image: linear-gradient(to right, #666 0%, hsla(0,0%,100%,.7) 50%, #666 100%);
		@include transition($duration:.5s);
	}
	&:after {
		//*** BALL ***//
		content: '';
		position: absolute;
		top: -70px;
		left: -4px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: $red;
		border: 2px solid darken($red, 5%);
		@include boxSizing;
		@include radialGradient(50% 40%, closest-corner, hsla(0,0,100%,.5), hsla(0,0%,100%,0));
		@include transition($duration:.5s);
	}
}
#arm.clicked {
	&:before {
		top: -20px;
		left: 20px;
		@include transform(rotate3d(100,10,0,180deg));
		@include origin(0% 100%);
		@include transition($duration:.5s);
	}
	&:after {
		top: 90px;
		@include transition($duration:.5s);
	}
}