<section class="game-view--container">
  <section>
      <section class="pay-table">
          <div class="winning-explanations">
            <div class="explanation-lines" 
                [ngClass]="{'blink': winningLine['5,5,5'][1]}">
                <div class="combination">
                    <div class="cherry combination-symbol"></div>
                    <div class="cherry combination-symbol"></div>
                    <div class="cherry combination-symbol"></div>
                  </div>
                <div class="prize">2000</div>
            </div>
            <div class="explanation-lines"
                [ngClass]="{'blink': winningLine['5,5,5'][2]}">
                <div class="combination">
                    <div class="cherry combination-symbol"></div>
                    <div class="cherry combination-symbol"></div>
                    <div class="cherry combination-symbol"></div>
                  </div>
                <div class="prize">1000</div>
            </div>
            <div class="explanation-lines"
                [ngClass]="{'blink': winningLine['5,5,5'][3]}">
                <div class="combination">
                    <div class="cherry combination-symbol"></div>
                    <div class="cherry combination-symbol"></div>
                    <div class="cherry combination-symbol"></div>
                  </div>
                <div class="prize">4000</div>
            </div>
            <div class="explanation-lines"
                [ngClass]="{'blink': winningLine['1,1,1'][1] ||
                                     winningLine['1,1,1'][2] ||
                                     winningLine['1,1,1'][3]}">
                <div class="combination">
                    <div class="seven combination-symbol"></div>
                    <div class="seven combination-symbol"></div>
                    <div class="seven combination-symbol"></div>
                  </div>
                <div class="prize">150</div>
            </div>
            <div class="explanation-lines"
                [ngClass]="{'blink': winningLine.sevenCherryComb}">
                <div class="combination">
                    <div class="seven combination-symbol"></div>
                    <div class="cherry combination-symbol"></div>
                    <div class="combination-symbol">
                      <div class="any-combination">
                        <div class="any">any</div>
                        <div class="word-combination">
                          comb
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="prize">75</div>
            </div>
            <div class="explanation-lines"
                [ngClass]="{'blink': winningLine.threeTimesThreeBarAny}">
                <div class="combination">
                    <div class="threebar combination-symbol"></div>
                    <div class="threebar combination-symbol"></div>
                    <div class="threebar combination-symbol"></div>
                  </div>
                <div class="prize">50</div>
            </div>
            <div class="explanation-lines"
                [ngClass]="{'blink': winningLine.threeTimesTwoBarAny}">
                <div class="combination">
                    <div class="twobar combination-symbol"></div>
                    <div class="twobar combination-symbol"></div>
                    <div class="twobar combination-symbol"></div>
                  </div>
                <div class="prize">20</div>
            </div>
            <div class="explanation-lines"
                [ngClass]="{'blink': winningLine.threeTimesSingleBar}">
                <div class="combination">
                    <div class="bar combination-symbol"></div>
                    <div class="bar combination-symbol"></div>
                    <div class="bar combination-symbol"></div>
                  </div>
                <div class="prize">10</div>
            </div>
            <div class="explanation-lines"
                [ngClass]="{'blink': winningLine.anyBarComb}">
                <div class="combination">
                    <div class="bar combination-symbol"></div>
                    <div class="any-combination">
                        <div class="any">any</div>
                        <div class="word-combination">
                          comb
                        </div>
                    </div>
                    <div class="any-combination">
                      <div class="any">any</div>
                      <div class="word-combination">
                        comb
                      </div>
                  </div>
                  </div>
                <div class="prize">5</div>
            </div>
          </div>
        </section>
        <section class="slot-machine" [ngClass]="{'spinReel': reelSpinning}" >
          <div class="depth-giver">
              <div class="reel-container">
                  <div #reel1 class="reel" >
                    <img [attr.data-position]="4" src="/assets/images/Reel/3xBAR.png" alt="3 BAR image">
                    <img [attr.data-position]="3" src="/assets/images/Reel/BAR.png" alt="BAR image">
                    <img [attr.data-position]="2" src="/assets/images/Reel/2xBAR.png" alt="2 BAR image">
                    <img [attr.data-position]="1" src="/assets/images/Reel/7.png" alt="7 image">
                    <img [attr.data-position]="5" src="/assets/images/Reel/Cherry.png" alt="Cherry image">
                  </div>
                </div>
                <div class="reel-container">
                  <div #reel2 class="reel">
                    <img [attr.data-position]="4" src="/assets/images/Reel/3xBAR.png" alt="3 BAR image">
                    <img [attr.data-position]="3" src="/assets/images/Reel/BAR.png" alt="BAR image">
                    <img [attr.data-position]="2" src="/assets/images/Reel/2xBAR.png" alt="2 BAR image">
                    <img [attr.data-position]="1" src="/assets/images/Reel/7.png" alt="7 image">
                    <img [attr.data-position]="5" src="/assets/images/Reel/Cherry.png" alt="Cherry image">
                  </div>
                </div>
                <div class="reel-container">
                <div #reel3 class="reel">
                  <img [attr.data-position]="4" src="/assets/images/Reel/3xBAR.png" alt="3 BAR image">
                  <img [attr.data-position]="3" src="/assets/images/Reel/BAR.png" alt="BAR image">
                  <img [attr.data-position]="2" src="/assets/images/Reel/2xBAR.png" alt="2 BAR image">
                  <img [attr.data-position]="1" src="/assets/images/Reel/7.png" alt="7 image">
                  <img [attr.data-position]="5" src="/assets/images/Reel/Cherry.png" alt="Cherry image">
                </div>      
              </div>
          </div>
          <div class="winning-line first-line"
           [ngClass]="{'winner': line1Score != 0 && 
                                 line1Score == math.max(line1Score,
                                                line2Score,
                                                line3Score)}">
          </div>
          <div class="winning-line second-line"
          [ngClass]="{'winner': line2Score != 0 && 
                                line2Score == math.max(line1Score,
                                               line2Score,
                                               line3Score)}">
         </div>
          <div class="winning-line third-line"
          [ngClass]="{'winner': line3Score != 0 && 
                                line3Score == math.max(line1Score,
                                               line2Score,
                                               line3Score)}">
         </div>
          <div id="shoulder" (click)="!isSpinning && startReel()">
            <div id="arm" [ngClass]="{'clicked': armClicked}">
            </div>
          </div>
        </section>
  </section>
  <section class="balance-area">
    <div class="debug-area">
        <div class="mode">
          <input class="tgl tgl-skewed"
                 id="cb3" type="checkbox"
                 [(ngModel)]="debugMode"/>
              <label class="tgl-btn"
                    data-tg-off="RANDOM"
                    data-tg-on="DEBUG"
                    for="cb3"></label>
        </div>            
        <div class="debug-simbols" [ngClass]="{'random-mode': !debugMode}">
            <img [attr.data-position]="4"
                 draggable="true"
                 id="3bar" 
                 (dragstart)="onDragStart($event)" 
                 src="/assets/images/Reel/3xBAR.png"
                 alt="3 BAR image">
            <img [attr.data-position]="3"
                 draggable="true"
                 id="bar" 
                 (dragstart)="onDragStart($event)"
                 src="/assets/images/Reel/BAR.png"
                 alt="BAR image">
            <img [attr.data-position]="2"
                 draggable="true"
                 id="2bar"
                 (dragstart)="onDragStart($event)" 
                 src="/assets/images/Reel/2xBAR.png"
                 alt="2 BAR image">
            <img [attr.data-position]="1"
                 draggable="true"
                 id="7"                 
                 (dragstart)="onDragStart($event)"
                 src="/assets/images/Reel/7.png"
                 alt="7 image">
            <img [attr.data-position]="5"
                 draggable="true"
                 id="cherry"
                 (dragstart)="onDragStart($event)" 
                 src="/assets/images/Reel/Cherry.png"
                 alt="Cherry image">
        </div>
      <div class="debug-reel-container" [ngClass]="{'random-mode': !debugMode}">
        <div #debugReel1 class="debug-reel"
            (dragover)="onDragOver($event)" 
            (drop)="onDrop($event)"></div>
        <div #debugReel2 class="debug-reel"
            (dragover)="onDragOver($event)" 
            (drop)="onDrop($event)"></div>
        <div #debugReel3 class="debug-reel"
            (dragover)="onDragOver($event)" 
            (drop)="onDrop($event)"></div>
      </div>
    </div>
    <div class="balance-container">
      <span class="flying-money" [ngClass]="{'fly': showFlyingPrice}" *ngIf="debitCreditMoney == -1">{{debitCreditMoney}}</span>
      <span class="flying-money" [ngClass]="{'fly': showFlyingPrice}" *ngIf="debitCreditMoney != -1">{{debitCreditMoney}}</span>
      <input type="number" 
             class="balance"
             [(ngModel)]="balance"
             [disabled]="isSpinning">
    </div>
  <!--  <div class='coin'>
        <div class='front jump'>
          <div class='star'></div>
          <span class='currency'>$</span>
          <div class='shapes'>
            <div class='shape_l'></div>
            <div class='shape_r'></div>
            <span class='top'></span>
            <span class='bottom'></span>
          </div>
        </div>
        <div class='shadow'></div>
      </div>-->
  </section>
</section>