<section class="game-view--container">
  <section class="slot-machine">
    <div class="depth-giver">
        <div class="reel-container">
            <div class="reel">
              <img src="/assets/images/Reel/3xBAR.png" alt="3 BAR image">
              <img src="/assets/images/Reel/BAR.png" alt="BAR image">
              <img src="/assets/images/Reel/2xBAR.png" alt="2 BAR image">
              <img src="/assets/images/Reel/7.png" alt="7 image">
              <img src="/assets/images/Reel/Cherry.png" alt="Cherry image">
            </div>
          </div>
          <div class="reel-container">
            <div class="reel">
              <img src="/assets/images/Reel/3xBAR.png" alt="3 BAR image">
              <img src="/assets/images/Reel/BAR.png" alt="BAR image">
              <img src="/assets/images/Reel/2xBAR.png" alt="2 BAR image">
              <img src="/assets/images/Reel/7.png" alt="7 image">
              <img src="/assets/images/Reel/Cherry.png" alt="Cherry image">
            </div>
          </div>
          <div class="reel-container">
          <div class="reel">
              <img src="/assets/images/Reel/3xBAR.png" alt="3 BAR image">
              <img src="/assets/images/Reel/BAR.png" alt="BAR image">
              <img src="/assets/images/Reel/2xBAR.png" alt="2 BAR image">
              <img src="/assets/images/Reel/7.png" alt="7 image">
              <img src="/assets/images/Reel/Cherry.png" alt="Cherry image">
          </div>      
          </div>
    </div>
  </section>
</section>