$animation-speed : 300ms;

$white: #fff;
$black: #020202;
$red: #760209;
$light-red: #ff0505;
$gray: #eee;
$yellow: #ffe600;
$secondary-gray: #666;
$secondary-light-gray: #999;
$secondary-dark-gray: #333;
$lime-green: #86d993;